In [1]:
import pandas as pd

In [37]:
data = [['2019-8-8 10:54 ', '2019-8-10 9:45 ']] 
df = pd.DataFrame(data, columns = ['Start', 'end']) 
df

             Start              end
0  2019-8-8 10:54   2019-8-10 9:45

In [42]:
df['Start'] = pd.to_datetime(df['Start'])
df['end'] = pd.to_datetime(df['end'])
df["Total_time"] = df["end"] - df["Start"]
df

                Start                 end      Total_time
0 2019-08-08 10:54:00 2019-08-10 09:45:00 1 days 22:51:00